body {
    background-color: rgb(133, 45, 239);
}

 
 
.navbar {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    width: 50%;
  }
 
 
  .navbar a {
    float: left;
    color: #040404;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 20px;
  }
 
.total {
    width: 70%;
    background-color:rgb(251, 251, 251);
    float: left;
}
 
.imagen {
    width: 100%;
    height: 40%;
}
 
.img {
    height: 350px;
    width: 100%;
   
}
 
.text {
    width: 100%;
    height: 500px;
    flex-direction: column;
    text-align: justify;
   
}
 
.t1 {
    margin-left: 1cm;
    margin-right: 1cm;
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
   
}
 
.TextSingle {
    width: 100%;
    height: 80px;
    flex-direction: column;
    background-color: rgb(238, 58, 112);
    text-align: center;
    flex-direction: column;
}
 
.Parte2 {
    width: 30%;
    background-color: rgb(58, 187, 247);
    float: right;
    text-align: center;
    height: 200px;
}
