header {
    text-align: center;
}
#parte1 {
    float: left;
   height: 1000px;
    width: 25%;
}

#parte2 {
    text-align: left;
    
   
}
#parte3 {
    text-align: left;
    
   
}
#parte4 {
    float: left;
    width: 25%;
   
}
#parte5 {
    float: left;
    width: 25%;
   
}
#parte6 {
    float: left;
    width: 25%;
   
}
